body {
  background: var(--background);
  height: 100vh;
  width: 100vw;
  margin: 0;
  transition: none;
}
.bar {
  width: 100vw;
  height: 15vh;
  background-color: var(--bar-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#info {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}
#panel {
  display: inherit;
  width: 60vh;
  height: 60vh;
  background-color: var(--bar-bg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#x {
  display: inherit;
  width: 8vh;
  height: 8vh;
  background-color: var(--text);
}
.bar div {
  height: 15vh;
  width: 15vh;
  display: flex;
  align-items: center;
  font-size: 8vh;
  align-content: center;
}
#title {
  font-size: 3.85vh;
  border-radius: 100%;
  color: var(--text);
}
#title:hover {
  animation: tilt 2s linear infinite;
}
@keyframes tilt {
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
div {
  text-align: center;
  align-items: center;
  font-family: cursive;
}
#content {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  color: var(--text);
  background-color: var(--bar-bg);
  border: none;
  border-radius: 7.5vh;
  font-family: cursive;
  height: 15vh;
  width: 30vh;
  font-size: 8vh;
}
#game {
  display: none;
  justify-content: center;
  flex-direction: column;
}
#score {
  color: var(--text);
  font-size: 4vh;
  margin: 2vh;
}
#answer {
  color: var(--text);
  display: none;
  font-size: 4vh;
  margin: 2vh;
}
#emoji {
  font-size: 20vh;
  margin: 2vh;
}
#timer {
  margin: 2vh;
  border-radius: 100%;
  text-align: center;
  color: var(--timer-text);
  background-color: black;
  font-size: 6vh;
  width: 9vh;
  height: 9vh;
}
#input {
  color: var(--text);
  margin: 8vh;
  caret-color: red;
  font-family: cursive;
  text-align: center;
  border-radius: 10vh;
  height: 5vh;
}
#mode:active {
  animation:
}
[data-theme="light"] {
  --background: linear-gradient(to bottom left, aquamarine, skyblue);
  --bar-bg: orange;
  --timer-text: white;
  --text: black;
}
[data-theme="dark"] {
  --background: #111111;
  --bar-bg: #111133;
  --timer-text: royalblue;
  --text: royalblue;
}
