body {
  background: linear-gradient(to bottom left, aquamarine, skyblue);
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.bar {
  width: 100vw;
  height: 15vh;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 75%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}
#panel {
  display: inherit;
  width: 60vh;
  height: 60vh;
  background-color: darkslategray;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#x {
  display: inherit;
  width: 3vw;
  height: 3vw;
  background-color: white;
}
.bar div {
  height: 15vh;
  width: 15vh;
  background-color: orange;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 8vh;
}
#title {
  font-size: 3.85vh;
  border-radius: 100%;
}
#title:hover {
  animation: tilt 2s linear infinite;
}
@keyframes tilt {
  25% {transform: rotate(-45deg);}
  75% {transform: rotate(45deg);}
}
div {
  text-align: center;
  align-items: center;
  font-family: cursive;
}
#content {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-family: cursive;
  height: 15vh;
  width: 30vh;
  font-size: 8vh;
  color: green;
}
#game {
  display: none;
  justify-content: center;
  flex-direction: column;
}
#score {
  font-size: 4vh;
  margin: 2vh;
}
#answer {
  display: none;
  font-size: 4vh;
  margin: 2vh;
}
#emoji {
  font-size: 20vh;
  margin: 2vh;
}
#timer {
  margin: 2vh;
  border-radius: 100%;
  color: white;
  background-color: black;
  font-size: 6vh;
  width: 9vh;
  height: 9vh;
}
#input {
  margin: 2vh;
  caret-color: red;
}
[data-theme="light"] {

}
[data-theme="dark"] {

}
